<div id="number-pad" class="number-pad ">
    <button class="number" (click)="addNumber('1')">1</button>
    <button class="number" (click)="addNumber('2')">2</button>
    <button class="number" (click)="addNumber('3')">3</button>
    <button class="number" (click)="addNumber('4')">4</button>
    <button class="number" (click)="addNumber('5')">5</button>
    <button class="number" (click)="addNumber('6')">6</button>
    <button class="number" (click)="addNumber('7')">7</button>
    <button class="number" (click)="addNumber('8')">8</button>
    <button class="number" (click)="addNumber('9')">9</button>
    <button class="number" (click)="addNumber('0')">0</button>
    <button class="number" (click)="addNumber('.')">.</button> 
    <button class="number" (click)="doneNumber(true)"><svg class="bi" width="32" height="32" fill="currentColor">
        <use xlink:href="assets/bootstrap-icons.svg#check"></use>
      </svg></button>
  </div>
