<div class="card">
  <h4 class="card-title" >Used Residential Electronics</h4>
  <div class="card-body p-0">
    <table class="table p-0 m-0" >
      <tbody>
        <tr>
          <th scope="row">Skid #</th>
          <td>{{ skid.number }}</td>
        </tr>
        <tr>
          <th scope="row">Type</th>
          <td><button (click)="openTypeDialog()">{{ skid.type ? skid.type: ''}} </button></td>
         
        </tr>
      <!--   <tr>
          <th scope="row">Category</th>
          <td>CED</td>
        </tr>
        <tr>
          <th scope="row">Packaging</th>
          <td>Gaylord</td>
        </tr> -->
        <tr>
          <th scope="row">Gross Weight</th>
          <td>
            <!-- <form> -->
              <div class="form-group">
                <input (focus)="showNumberPad()" type="text" class="form-control" id="grossWeightField" [(ngModel)]="skid.grossWeight">
                <number-pad [hidden]="!numberPadVisible" (numberClicked)="addNumber($event)" (doneClicked)="doneNumber($event)"></number-pad>
              </div>
            <!-- </form> -->
        </td>
        </tr>
        
      </tbody>
    </table>
    </div>
</div>
